* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: " Arial, sans-serif;";
}
h1{
    font-family: Arial, sans-serif; 
    margin-top: 25px;
    font-size: 22px;

}

body{
    background: linear-gradient(to right,rgb(0, 255, 238) , rgb(148, 16, 204));
    margin-top: 70px;

}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  gap: 20px;
  border-style: solid;
  width: 30%;
  margin: auto;
  height: fit-content;
  border: none;
}

.input-div {
  font-size: 10px;
  align-items: left;
}

input[type="text"] {
  width: 100%;
  outline: none;
  width: 100%;
  padding: 10px 40px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.input-div2 {
  font-size: 12px;
  color: #ccc;
  display: flex;
  justify-content: end;
}

.input-div3 {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.icon {
  font-size: 35px!important;

}
button {
  background: linear-gradient(to right, rgb(0, 255, 238) , rgb(106, 0, 255));
  width: 70%;
  color: white;
  height: 35px;
  border: none;
  border-radius: 10px;
}

.facebook{
    color:darkblue;
}
.twitter{
    color: lightskyblue;

}
.google{
    color:orangered;
}
.input-div {
    margin-bottom: 15px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container i {
    position: absolute;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.input-container input {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* Leaves space for the icon */
    font-size: 16px;
}

.input-container input::placeholder {
    color: #d5b9b9;
}
.input-div4{
    font-size: 12px;
    margin-top: 50px;
}
